* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(229,231,155,1) 0%, rgba(223,184,171,1) 53%, rgba(152,245,130,1) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem {
    padding: 20px 0;
    margin: 25px;
}

.cabeçalho-menu {
    display: flex;
    gap: 30px;
}

.cabeçalho-menu-item {
    color: aliceblue;
    font-weight: 400;
    font-size: 20px;
    justify-content: flex-end;
    padding: 15px 0;
    align-items: center;
}

.conteudo {
    margin-bottom: 45px;
    background: linear-gradient(90deg, rgba(229,231,155,1) 0%, rgba(223,184,171,1) 53%, rgba(152,245,130,1) 100%);
    color: #b0b6b8;
    display: flex;
    justify-content: center;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 35%;
}

.principal-escrito-titulo {
    font-weight: 300;
    font-size: 50px;
    color: #856965;
    justify-content: center;
    height: 50px;
}

.principal-escrito-subtitulo {
    background-color: #856965;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #97928a;
    align-content: space-around;
}

.conteudo-secundario {
    display: grid;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin: 400px;
}

.maça1 {
    margin: 10px;
}

.maça {
    color: black;
}

.maçagranulada {
    background-color: #f0e7e0;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    align-content: space-around;
}

.mouusep {

}

.hallowen {

}

.conteudo-secundario-imagem {
    height: 400px;
}

.rodape {
    padding: 30px;
    border-top: 0.4px solid aliceblue;
}

.rodape-imagem {
    height: 50px;
    display: block;
    margin: 0 auto;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid aliceblue;
    padding-top: 50px;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
}

.conteudo-secundario-paragrafo {
    font-weight: 300;
    font-size: 18px;
    color: aliceblue;
    padding-top: 10px;
    height: 400px;
    width: 800px;
}

